#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

#table {
  display: flex;
  width: 400px;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid grey;
  text-align: center;
}
